/* font-family: 'Kaisei HarunoUmi', serif; */
/* font-family: 'Lora', serif; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Source Sans Pro', sans-serif; */

.settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings_wrapper {
  flex: 9;
  padding: 1.5rem;
}

.profile_picture {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 20rem;
  border-radius: 1rem;
  object-fit: cover;
}

.settings_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings_update_title {
  font-size: 2rem;
  color: rgb(219, 137, 69);
  margin-bottom: 1rem;
}

.settings_delete_title {
  font-size: 1rem;
  cursor: pointer;
  color: darkred;
}

.settings_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.settings_profile_picture {
  /* width: 100%; */
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.settings_file_input {
  position: absolute;
  right: -50%;
  top: 50%;
  transform: translateY(-50%);
}

.settings_profile_picture_icon {
  width: 3rem;
  height: 3rem;
  font-size: 1.85rem;
  background-color: tomato;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.settings_form > label {
  font-size: 1.25rem;
  margin-top: 1rem;

  font-family: "Lora", serif;
}

.settings_form > input {
  width: clamp(25rem, 50%, 50rem);
  color: #555;
  margin: 0.75rem 0;
  font-size: 1rem;
  border: none;
  border-bottom: 1px #333 solid;

  font-family: "Montserrat", sans-serif;
}

.settings_form > input:focus {
  outline: none;
}

.settings_submit {
  width: 10rem;
  margin-top: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
  align-self: center;
  font-family: "Oswald", sans-serif;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
}
