.sidebar {
  flex: 3;
  margin: 1.5rem;
  background-color: #fbfbfb;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Lora", serif;
  color: #222222;
}

.sidebar_item p {
  font-size: 0.9rem;
  text-align: justify;
  padding: 0.5rem;
}

.sidebar_image {
  width: 100%;
  object-fit: contain;
}

.sidebar_title {
  margin: 0.75rem;
  padding: 0.75rem;
  width: 80%;

  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;

  font-weight: 600;
  text-align: center;
}

.sidebar_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebar_list {
  list-style: none;
  margin-bottom: 1.5rem;
  width: 100%;
}

.sidebar_list_item {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 0.25rem;
}

.sidebar_social_icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_icon {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
