.sidebar {
  flex: 3;
  margin: 1.5rem;
  background-color: #fbfbfb;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Lora", serif;
  color: #444;
  z-index: 10;
}

.sidebar_item p {
  font-size: 0.9rem;
  text-align: justify;
  padding: 0.5rem;
}

.sidebar_image {
  width: 100%;
  object-fit: contain;
}

.sidebar_title {
  margin: 0.75rem;
  padding: 0.75rem;
  width: 80%;

  border-top: 1px solid #a7a4a4;
  border-bottom: 1px solid #a7a4a4;

  font-weight: 600;
  text-align: center;
}

.sidebar_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebar_list {
  list-style: none;
  margin-bottom: 1.5rem;
  width: 100%;
}

.sidebar_list_item {
  display: inline-block;
  width: 50%;
  text-align: center;
  padding: 0.25rem;
}

.sidebar_list_item:hover {
  font-weight: 600;
  color: #222;
}

.sidebar_social_icons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_icon {
  padding: 0 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.sidebar_icon:hover {
  font-weight: 600;
  color: #222;
}

.link_sidebar {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 700px) {
  .sidebar_item_1 {
    grid-area: item1;
  }
  .sidebar_item_2 {
    grid-area: item2;
  }
  .sidebar_item_3 {
    grid-area: item3;
  }

  .sidebar.home {
    display: grid;
    grid-template-areas:
      "item1 item2"
      "item1 item3";
    align-items: flex-start;
    padding-bottom: 1rem;
    border-radius: 0;
    border-bottom: 1px solid var(--custom-grey-1);
    grid-row: 1fr 1fr;
    column-gap: 5%;
  }
}

@media screen and (max-width: 400px) {
  .sidebar_item_1 p {
    text-align: center;
  }
}
