.footer {
  background-color: var(--custom-grey-2);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}

.footer_list {
  flex: 6;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer_list_item {
  line-height: 1.6rem;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0 1rem;
  font-family: "Montserrat", sans-serif;
}

.footer_list_item:hover {
  font-weight: 400;
}

.footer_credits_title {
  font-size: 1.3rem;
  padding: 2rem;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.link {
  text-decoration: none;
  color: white;
}
