.write {
  padding-top: 3rem;
}

.write_image {
  margin-left: 5rem;
  width: 80%;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem;
}

.write_form {
  position: relative;
}

.write_form_group {
  margin-left: 5rem;
  display: flex;
  align-items: center;
}

.write_icon {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  cursor: pointer;
}

.write_input {
  font-size: 1.75rem;
  border: none;
  padding: 1.25rem;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #666;
}

.write_input:focus {
  outline: none;
}

.write_text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  resize: none;
  font-size: 1.2rem;
  height: 15rem;
}

.write_submit {
  font-size: 1rem;
  position: absolute;
  right: 10%;
  top: 10%;
  border: 1px solid #fff0;
  border-radius: 0.5rem;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--orange-medium);

  font-family: "Oswald", sans-serif;
  transition: 0.2s ease-out all;
}

.write_submit:hover {
  border: 1px blue solid;
  color: white;
}
